.newcolor {
  color: #ffffff !important;
  font-size: 1.05rem;
}
.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0rem;
}
.dialog-header-centered {
  position: relative;
  text-align: center;
  width: 100%;
  padding-right: 2rem; // espacio para que no se solape con el ícono de cerrar
}

.dialog-header-centered .icon-alert {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #f97316;
}

.dialog-header-centered .title-text {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
}

.typing-animation {
  width: 160px;
  height: 160px;
  margin-bottom: 1rem;
}
:host {
  a {
    &:hover {
      background-color: #ef4444 !important;

      .layout-menuitem-text,
      .layout-menuitem-icon,
      .layout-submenu-toggler {
        color: #f8f9fa !important; // Un blanco ligeramente diferente al pasar el mouse
      }
    }
  }
  a.active-route {
    background-color: #ef4444 !important;
    .layout-menuitem-text,
    .layout-menuitem-icon {
      font-weight: bold;
    }
  }
}
