<ng-container>
    <div *ngIf="root && item.visible !== false" class="layout-menuitem-root-text newcolor">{{ item.label }}</div>
    <a *ngIf="(!item.routerLink || item.items) && item.visible !== false" [attr.href]="item.url" (click)="itemClick($event)" [ngClass]="item.styleClass" [attr.target]="item.target" tabindex="0" pRipple>
        <ng-container *ngIf="item['customIconUrl']; else defaultIcon">
          <img [src]="item['customIconUrl']"
               alt="icon"
               class="layout-menuitem-icon newcolor custom-icon"
               width="32"
               height="32" />
        </ng-container>
        <ng-template #defaultIcon>
          <i [ngClass]="item.icon" class="layout-menuitem-icon newcolor"></i>
        </ng-template>

        <span class="layout-menuitem-text newcolor">{{ item.label }}</span>
        <i class="pi pi-fw pi-angle-down layout-submenu-toggler newcolor" *ngIf="item.items"></i>
    </a>
    <a
        *ngIf="item.routerLink && !item.items && item.visible !== false"
        (click)="itemClick($event)"
        [ngClass]="item.styleClass"
        [routerLink]="!item['underConstruction'] ? item.routerLink : null"
        [attr.href]="item['underConstruction'] ? '#' : null"
        routerLinkActive="active-route"
        [routerLinkActiveOptions]="item.routerLinkActiveOptions || { paths: 'exact', queryParams: 'ignored', matrixParams: 'ignored', fragment: 'ignored' }"
        [fragment]="item.fragment"
        [queryParamsHandling]="item.queryParamsHandling"
        [preserveFragment]="item.preserveFragment"
        [skipLocationChange]="item.skipLocationChange"
        [replaceUrl]="item.replaceUrl"
        [state]="item.state"
        [queryParams]="item.queryParams"
        [attr.target]="item.target"
        tabindex="0"
        pRipple
    >
        <ng-container *ngIf="item['customIconUrl']; else defaultIcon">
          <img [src]="item['customIconUrl']"
               alt="icon"
               class="layout-menuitem-icon newcolor custom-icon"
               width="26"
               height="26" />
        </ng-container>
        <ng-template #defaultIcon>
          <i [ngClass]="item.icon" class="layout-menuitem-icon newcolor" style="font-size: 1.45rem!important;"></i>
        </ng-template>

        <span class="layout-menuitem-text newcolor">{{ item.label }}</span>
        <i class="pi pi-fw pi-angle-down layout-submenu-toggler" *ngIf="item.items"></i>
    </a>

    <ul *ngIf="item.items && item.visible !== false" [@children]="submenuAnimation">
        <ng-template ngFor let-child let-i="index" [ngForOf]="item.items">
            <li app-menuitem [item]="child" [index]="i" [parentKey]="key" [class]="child['badgeClass']"></li>
        </ng-template>
    </ul>
</ng-container>

<p-dialog
  [(visible)]="showUnderConstructionDialog"
  modal="true"
  [closable]="true"
  [dismissableMask]="true"
  [style]="{ width: '350px' }"
>
    <ng-template pTemplate="header">
      <div class="dialog-header-centered">
        <i class="pi pi-info-circle icon-alert"></i>
        <span class="title-text" style="margin-left: 1.2rem;">Módulo en construcción</span>
      </div>
    </ng-template>

    <div class="dialog-content">
        <object
          data="assets/animations/ApuBotTyping.svg"
          type="image/svg+xml"
          class="typing-animation"
        ></object>
        <p style="font-size: 1.2rem!important;">Este módulo está en construcción.</p>
    </div>
</p-dialog>

