.newcolor {
  color: #ffffff !important;
  font-size: 1.05rem;
}
.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0rem;
}

.typing-animation {
  width: 160px;
  height: 160px;
  margin-bottom: 1rem;
}
:host {
  a {
    &:hover {
      background-color: #ef4444 !important;

      .layout-menuitem-text,
      .layout-menuitem-icon,
      .layout-submenu-toggler {
        color: #f8f9fa !important; // Un blanco ligeramente diferente al pasar el mouse
      }
    }
  }
  a.active-route {
    background-color: #ef4444 !important;
    .layout-menuitem-text,
    .layout-menuitem-icon {
      font-weight: bold;
    }
  }
}
