<div class="layout-topbar background-topbar">
    <div class="layout-topbar-logo-container">
        <button class="layout-menu-button layout-topbar-action" (click)="layoutService.onMenuToggle()">
            <i class="pi pi-bars" style="color: #ffffff"></i>
        </button>
        <a class="layout-topbar-logo" routerLink="/principal">
            <img src="assets/animations/ApuBotHead.svg" alt="Logo" class="shrink-0 mx-auto apubot-anim" style="height: 2.5rem;"/>
            <span class="nombre-app">ApuBot</span>
        </a>
    </div>
    <div class="layout-topbar-actions">
        <div class="layout-config-menu">
            <button type="button" class="layout-topbar-action newcolor" (click)="toggleDarkMode()">
                <i [ngClass]="{ 'pi ': true, 'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"></i>
            </button>
        </div>

        <button class="layout-topbar-menu-button layout-topbar-action newcolor" pStyleClass="@next" enterFromClass="hidden" enterActiveClass="animate-scalein" leaveToClass="hidden" leaveActiveClass="animate-fadeout" [hideOnOutsideClick]="true">
            <i class="pi pi-ellipsis-v"></i>
        </button>

        <div class="layout-topbar-menu hidden lg:block">
            <div class="layout-topbar-menu-content">
                <button type="button" class="layout-topbar-action newcolor" (click)="toggleProfilePanel()">
                  <i class="pi pi-user"></i>
                  <span>Profile</span>
                </button>
                <div class="profile-panel" *ngIf="showProfilePanel">
                  <div class="profile-content">
                    <img src="assets/animations/ApuBotHead.svg" class="profile-img" />
                    <div class="profile-name">{{ apellidos }} {{ nombres }}</div>
                    <div class="profile-role">{{ documento }}</div>
                    <div class="profile-since">{{ cargo }}</div>
                    <div class="profile-actions">
                      <p-button label="Cerrar Sesión" styleClass="p-button-danger w-full" (click)="logout()"></p-button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
