.newcolor {
  color: #ffffff !important;
  font-size: 1.1rem;
}

:host {
  a {
    &:hover {
      background-color: rgba(255, 255, 255, 0.2) !important;

      .layout-menuitem-text,
      .layout-menuitem-icon,
      .layout-submenu-toggler {
        color: #f8f9fa !important; // Un blanco ligeramente diferente al pasar el mouse
      }
    }
  }
  a.active-route {
    background-color: rgba(255, 255, 255, 0.3) !important;
    .layout-menuitem-text,
    .layout-menuitem-icon {
      font-weight: bold;
    }
  }
}
