<div class="grid grid-cols-12 gap-8">

    <div class="col-span-12 lg:col-span-6 xl:col-span-4">
        <a (click)="navegarConsultaIA()" style="cursor: pointer;">
            <div class="card mb-0">
                <div class="flex justify-between mb-4">
                    <div>
                        <span class="font-title block dark:text-surface-0 font-medium mb-4">CONSULTA CON APUBOT</span>
                        <div class="text-surface-900 dark:text-surface-0 font-medium text-xl text-muted-color">Apoyo del Asistente Virtual</div>
                    </div>
                    <div class="flex items-center justify-center bg-orange-100 dark:bg-orange-400/10 rounded-border" style="width: 5rem; height: 5rem">
                        <img src="assets/img/apuBotIcon-orange.svg"
                             alt="ApuBot Icon"
                             style="width: 3.5rem; height: 3.5rem; fill: rgb(249 115 22);">
                    </div>
                </div>
                <span class="text-primary font-medium">5 Consultas Realizadas </span>
            </div>
        </a>
    </div>
    <div class="col-span-12 lg:col-span-6 xl:col-span-4">
      <a (click)="abrirDialogEnConstruccion()" style="cursor: pointer;">
        <div class="card mb-0">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="font-title block dark:text-surface-0 font-medium mb-4">EXPEDIENTES JUDICIALES</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl text-muted-color">Genera Documentos con IA</div>
                </div>
                <div class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border" style="width: 5rem; height: 5rem">
                    <i class="pi pi-file-o text-blue-500 !text-xl" style="font-size: 3rem!important;"></i>
                </div>
            </div>
            <span class="text-primary font-medium">1 Documento Generado</span>
        </div>
      </a>
    </div>
    <div class="col-span-12 lg:col-span-6 xl:col-span-4">
      <a (click)="abrirDialogEnConstruccion()" style="cursor: pointer;">
        <div class="card mb-0">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="font-title block dark:text-surface-0 font-medium mb-4">MÉTRICAS</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl text-muted-color">De Consultas y Uso de la IA</div>
                </div>
                <div class="flex items-center justify-center bg-cyan-100 dark:bg-cyan-400/10 rounded-border" style="width: 5rem; height: 5rem">
                    <i class="pi pi-chart-pie text-cyan-500 !text-xl" style="font-size: 3rem!important;"></i>
                </div>
            </div>
            <span class="text-primary font-medium">20 Reportes Descargados</span>
        </div>
      </a>
    </div>
    <!--<div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="card mb-0">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Comments</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">152 Unread</div>
                </div>
                <div class="flex items-center justify-center bg-purple-100 dark:bg-purple-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                    <i class="pi pi-comment text-purple-500 !text-xl"></i>
                </div>
            </div>
            <span class="text-primary font-medium">85 </span>
            <span class="text-muted-color">responded</span>
        </div>
    </div>-->


    <div class="col-span-12 xl:col-span-6">
    </div>
    <div class="col-span-12 xl:col-span-6">
    </div>
</div>

<p-dialog
  [(visible)]="showUnderConstructionDialog"
  modal="true"
  [closable]="true"
  [dismissableMask]="true"
  [draggable]="false"
  [style]="{ width: '350px' }"
>
    <ng-template pTemplate="header">
      <div class="dialog-header-centered">
        <i class="pi pi-info-circle icon-alert" style="font-size: 1.2rem;color: #f97316"></i>
        <span class="title-text" style="font-size: 1.2rem;margin-left: 0.8rem">Módulo en construcción</span>
      </div>
    </ng-template>

    <div class="dialog-content">
        <object
          data="assets/animations/ApuBotTyping.svg"
          type="image/svg+xml"
          class="typing-animation"
        ></object>
        <p style="font-size: 1.2rem!important;">Este módulo está en construcción.</p>
    </div>
</p-dialog>
