<div class="bg-login">
  <div class="background-wrapper">
    <div class="background-img img1 active"></div>
    <div class="background-img img2"></div>
    <div class="background-img img3"></div>
    <div class="background-img img4"></div>
  </div>
  <app-floating-configurator />
  <p-toast />
  <div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
      <div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
          <div class="flex flex-col items-center justify-center">
              <div class="divGradient">
                  <div class="w-full bg-surface-0/80 dark:bg-surface-900 py-20 px-8 sm:px-20 divLogin">
                      <div class="text-center mb-8">
                        <object
                          data="assets/animations/ApuBot.svg"
                          type="image/svg+xml"
                          class="shrink-0 mx-auto"
                          style="height: 18rem;">
                        </object>
                        <img src="/assets/img/logoLetras.png" alt="Logo" class="shrink-0 mx-auto" style="height: 5rem;"/>
                        <div class="titulo-con-barras">
                          <span class="text-muted-color font-medium Subtitle">Asistente Virtual </span>
                        </div>
                        <span class="text-muted-color font-medium Subtitle2"><em>"Tu Aliado Inteligente en la Labor Jurisdiccional <br>de la Corte Superior de Justicia de Ancash"</em></span>
                      </div>

                      <div>
                          <label for="username1" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Usuario</label>
                          <input pInputText id="username1" type="text" placeholder="Usuario" class="w-full md:w-[30rem] mb-8" [(ngModel)]="username" #inputUsername />

                          <label for="password1" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Contraseña</label>
                          <p-password id="password1" [(ngModel)]="password" placeholder="Contraseña" [toggleMask]="true" styleClass="mb-4" [fluid]="true" [feedback]="false" #inputPassword (keyup.enter)="login()"></p-password>

                          <div class="flex items-center justify-between mt-2 mb-8 gap-8">
                              <div class="flex items-center">
                                  <p-checkbox [(ngModel)]="checked" id="rememberme1" binary class="mr-2"></p-checkbox>
                                  <label for="rememberme1">Recuerdame</label>
                              </div>
                              <span class="font-medium no-underline ml-2 text-right cursor-pointer text-primary">Olvidé mi contraseña?</span>
                          </div>
                          <p-button label="Acceder" class="button-red" styleClass="w-full" (click)="login()"></p-button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
