@font-face {
  font-family: 'AlternoxBold';
  src: url('/assets/fonts/AlternoxBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
:host {
  .bg-surface-50 {
    background: none !important;
  }
}
.nombre-app {
  font-family: 'Arial', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgb(74 74 74 / 50%);
}
.divLogin {
  border-radius: 53px;
  padding-top: 1.875rem;
  padding-bottom: 3.5rem;
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}
.Subtitle {
  font-family: 'Bahnschrift';
  font-weight: bold;
  font-size: 1.5rem;
  color: #7e7660;
}
.button-red {
  --p-button-primary-background: #f43f5e;
  --p-button-primary-border-color: #f43f5e;
  --p-button-primary-hover-background: #e11d48;
  --p-button-primary-hover-border-color: #e11d48;

  background: var(--p-button-primary-background);
  border: 1px solid var(--p-button-primary-border-color);

  &:hover {
    background: var(--p-button-primary-hover-background);
    border: 1px solid var(--p-button-primary-hover-border-color);
  }
}
.p-inputtext:enabled:focus{
  --p-button-primary-border-color: #f43f5e;
  border-color: var(--p-button-primary-border-color);
  box-shadow: var(--p-inputtext-focus-ring-shadow);
  outline: var(--p-inputtext-focus-ring-width) var(--p-inputtext-focus-ring-style) var(--p-inputtext-focus-ring-color);
  outline-offset:var(--p-inputtext-focus-ring-offset);
}
:host ::ng-deep .p-password input:enabled:focus {
  --p-button-primary-border-color: #f43f5e;
  border-color: var(--p-button-primary-border-color);
  box-shadow: var(--p-inputtext-focus-ring-shadow);
  outline: var(--p-inputtext-focus-ring-width) var(--p-inputtext-focus-ring-style) var(--p-inputtext-focus-ring-color);
  outline-offset: var(--p-inputtext-focus-ring-offset);
}

.divGradient{
  --primary-color: #f43f5e;
  border-radius: 56px;
  padding: 0.3rem;
  background: linear-gradient(180deg, var(--primary-color) 10%, rgb(255, 255, 255) 30%);
}
.Subtitle2 {
  font-family: 'Bahnschrift';
  font-size: 1.1rem;
  color: #7e7660;
}
.titulo-con-barras {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.titulo-con-barras::before,
.titulo-con-barras::after {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 3px;
  background-color: #7e7660;
  margin: 0 0.5rem;
}
.bg-login {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background-wrapper {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.background-img {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: 0;
}

.background-img.img1 {
  background-image: url('/assets/img/img2.jpg');
}
.background-img.img2 {
  background-image: url('/assets/img/img3.jpg');
}
.background-img.img3 {
  background-image: url('/assets/img/img4.jpg');
}
.background-img.img4 {
  background-image: url('/assets/img/img1.jpg');
}

.background-img.active {
  opacity: 1;
  z-index: 1;
}
